# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# cmake
CMakeCache.txt
CMakeFiles
cmake_install.cmake
doc/*
bin
Makefile
Cassiopee
test/test_cassiopee
CTestTestfile.cmake
Testing

# reports
cppunit-report.xml
cassiopee.dot
*.png
